{% extends '_base.html' %}

{% block content %}
    {% if container != none %}
        <div class="row ">

            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control autocomplete" id="autocompleteInput" name="item_description"
                           placeholder="Let's add an item, enter the name :)" autocomplete="off" spellcheck="false"
                           aria-autocomplete="list" aria-expanded="false" aria-haspopup="menu" role="combobox"
                           aria-controls="ac-menu-1"/>
                    <input type="hidden" name="item_id" id="add_item_id"/>
                    <button type="submit" class="btn btn-primary" name="action" value="add_item" id="button-addon1">Add</button>
                </div>
            </form>

        </div>
        <div class="row  g-4">
            <h2>Contents for container {{ container.description }}</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Added</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for item in container.items %}
                    <tr>
                        <th scope="row"><a href="{{ item.item.get_url() }}">{{ item.id }}</a></th>
                        <td><a href="{{ item.item.get_url() }}">{{ item.item.description }}</a></td>
                        <td>{{ item.quantity }}{{ item.item.quantity }}</td>
                        <td>{{ container.description }}</td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    data-bs-container-id="{{ container.id }}"
                                    data-bs-container-item-id="{{ item.id }}"
                                    data-bs-item-description="{{ item.item.description }}">X
                            </button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    {% else %}
        <div class="row g4">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Whoops!</h4>
                <p>This container does not exist, please return to the main page and try again :)</p>
            </div>
        </div>
    {% endif %}

    <script type="module">
        {# TODO see reference of module used: https://github.com/lekoala/bootstrap5-autocomplete #}
        import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";

        function onSelectItemFn(elem) {
            console.log(elem)
            $('#add_item_id').attr('value', elem.id)
        }

        $.ajax('/api/lookahead/items')
            .done((resp) => {
                Autocomplete.init("input.autocomplete", {
                    items: resp,
                    fullWidth: true,
                    fixed: true,
                    notFoundMessage: "This item does not exist, click Add!",
                    valueField: "id",
                    labelField: "title",
                    highlightTyped: true,
                    onSelectItem: onSelectItemFn,
                });
            })
            .fail(() => {
                alert("Failed /api/lookahead/items request.")
            })
    </script>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {#<div class="modal-body"></div>#}
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yap!</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const exampleModal = document.getElementById('exampleModal');

        exampleModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const containerId = button.getAttribute('data-bs-container-id');
            const containerItemId = button.getAttribute('data-bs-container-item-id');
            const itemDescription = button.getAttribute('data-bs-item-description');

            const modalTitle = exampleModal.querySelector('.modal-title');
            {#const modalBodyInput = exampleModal.querySelector('.modal-body input');#}

            $('#exampleModal .modal-footer .btn-primary').on('click', () => {
                window.location.href = `/container/${containerId}/delete/${containerItemId}`
            })

            modalTitle.textContent = `Are you sure you want to remove '${itemDescription}' from this container?`
        })
    </script>
    <!-- End Modal -->
{% endblock %}
