{% extends '_base.html' %}

{% block content %}
    {% if container != none %}
        <div class="row ">

            <form method="post">

                <div class="input-group mb-3">
                    <input type="text" class="form-control autocomplete" id="autocompleteInput" name="item_description"
                           placeholder="Let's add an item, enter the name :)" autocomplete="off" spellcheck="false"
                           aria-autocomplete="list" aria-expanded="false" aria-haspopup="menu" role="combobox"
                           aria-controls="ac-menu-1">
                    <button type="submit" class="btn btn-primary" name="action" value="add_item" id="button-addon1">
                        Add
                    </button>
                </div>

            </form>
        </div>
        <div class="row  g-4">
            <h2>Contents for container {{ container.description }}</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Added</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for item in container.items %}
                    <tr>
                        <th scope="row"><a href="{{ item.item.get_url() }}">{{ item.id }}</a></th>
                        <td><a href="{{ item.item.get_url() }}">{{ item.item.description }}</a></td>
                        <td>{{ item.quantity }}{{ item.item.quantity }}</td>
                        <td>{{ container.description }}</td>
                        <td>
                            {#TODO make this actually work#}
                            <form method="post" style="display:inline">
                                <input type="hidden" name="container_id" value="">
                                <input type="hidden" name="item_id" value="">
                                <button type="submit" class="btn btn-danger" name="action" value="remove_item">X
                                </button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <div class="row g4">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Whoops!</h4>
                <p>This container does not exist, please return to the main page and try again :)</p>
            </div>
        </div>
    {% endif %}

    <script type="module">
        {# TODO see reference of module used: https://github.com/lekoala/bootstrap5-autocomplete #}
        import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";

        const opts = {
            onSelectItem: console.log,
        };
        $.ajax('/api/lookahead')
            .done((resp) => {
                Autocomplete.init("input.autocomplete", {
                    items: resp,
                    fullWidth: true,
                    fixed: true,
                    notFoundMessage: "This item does not exist, click Add! ",
                    valueField: "id",
                    labelField: "title",
                    highlightTyped: true,
                    onSelectItem: console.log,
                });
            })
            .error(function() {

            })
    </script>

{% endblock %}
