{% extends '_base.html' %}

{% block content %}
    {% if item != none %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <h2>Info about item: {{ item.description }}</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ContainerID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for container in item.containers %}
                    <tr>
                        <th scope="row"><a href="{{ container.container.get_url() }}">{{ container.container.id }}</a></th>
                        <td><a href="{{ container.container.get_url() }}">{{ container.container.description }}</a></td>
                        <td>{{ container.quantity }}</td>
                        {#                            <td>{{ item.quantity }}{{ item.item.quantity }}</td>#}
                        {#                            <td>{{ container.description }}</td>#}
                        <td>
                            {#TODO make this actually work#}
                            <form method="post" style="display:inline">
                                <input type="hidden" name="container_id" value="">
                                <input type="hidden" name="item_id" value="">
                                <button type="submit" class="btn btn-danger" name="action" value="remove_item">X
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="row g4">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Whoops!</h4>
                <p>This item does not exist, please return to the main page and try again :)</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
