{% extends '_base.html' %}

{% block content %}
    <h2>Items</h2>
    <div class="row">
        <form method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="item_name" required placeholder="Let's create a new item, enter the name :)" aria-describedby="button-addon2"/>
                <button type="submit" class="btn btn-primary" name="action" value="add_item" id="button-addon1">Add</button>
            </div>
        </form>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Item</th>
                <th scope="col">Qty</th>
                <th scope="col">Container</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for item in items %}
                <tr>
                    <th scope="row"><a href="{{ item.get_url() }}">{{ item.id }}</a></th>
                    <td><a href="{{ item.get_url() }}">{{ item.description }}</a></td>
                    <td>{{ item.containers | sum(attribute='quantity') }}</td>
                    <td>
                        <ul>
                            {% for container in item.containers %}
                                <li><a href="{{ container.container.get_url() }}">{{ container.container.description }}</a> ({{ container.quantity }}x)</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger"
                                {% if item.containers | sum(attribute='quantity') > 0 %} disabled{% endif %}
                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                data-bs-item-id="{{ item.id }}"
                                data-bs-item-description="{{ item.description }}">X
                        </button>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {#<div class="modal-body"></div>#}
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yap!</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const exampleModal = document.getElementById('exampleModal');

        exampleModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const itemId = button.getAttribute('data-bs-item-id');
            const itemDescription = button.getAttribute('data-bs-item-description');

            const modalTitle = exampleModal.querySelector('.modal-title');
            {#const modalBodyInput = exampleModal.querySelector('.modal-body input');#}

            $('#exampleModal .modal-footer .btn-primary').on('click', () => {
                window.location.href = `/items/delete/${itemId}`
            })

            modalTitle.textContent = `Are you sure you want to remove '${itemDescription}'?`
        })
    </script>
{% endblock %}